{{ define "main" }}
    {{ if .Content }}
        {{- template "_partials/article.html" . -}}
    {{ else if .Title }}
        <article></article>
    {{ end }}

    {{ if .Data.Singular }}
        {{ .Render "taxonomy-singular-header" }}
    {{ end }}

    {{ if .Pages }}
        <section class="flex-hr">
            <h1>{{ .Title }}</h1>
            <hr class="filler">
        </section>
        <table class="table-list alternate">
            <tr>
                <th class="short"></th>
                <th>{{ i18n "artist" . }}</th>
                <th>{{ i18n "instrumentsOrTags" . }}</th>
            </tr>

            {{ range .Pages }}
                {{ if eq .Type "artists" }}
                    <tr>
                        <td class="blk center middle">
                            {{ $type := .Type }}
                            {{ with $.Site.GetPage (printf "/%s" $type) -}}
                                <a href="{{ with .Site.GetPage "Section" $type }}{{ .Permalink }}{{ end }}"
                                   class="hidden-link">
                                    {{ if (resources.Get (printf "icons/types/%s.svg" $type)) }}
                                        <img class="icon-type"
                                             alt="{{ with .Params.Name }}{{ . }}{{ else }}{{ .Title }}{{ end }}"
                                             title="{{ with .Params.Name }}{{ . }}{{ else }}{{ .Title }}{{ end }}"
                                             src="{{ ((resources.Get (printf "icons/types/%s.svg" $type)).Permalink) }}"/>
                                    {{ else }}
                                        {{ .Type }}
                                    {{ end }}
                                </a>
                            {{ end }}
                        </td>
                        <td class="blk">
                            <a href="{{ .RelPermalink }}" class="link no-decoration"
                               title="{{ .Title }}">{{ .Title }}</a>
                        </td>
                        <td class="">
                            {{ if .Params.instruments }}
                                {{ range $index, $val := .Params.instruments }}
                                    {{ with $.Site.GetPage (printf "/instruments/%s" $val) -}}
                                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                            {{ if .Params.tags }}
                                {{ range $index, $val := .Params.tags }}
                                    {{ with $.Site.GetPage (printf "/tags/%s" $val) -}}
                                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </td>
                    </tr>

                {{ end }}
            {{ end }}
        </table>
        </div>
    {{ end }}



{{ end }}