{{ if .IsTranslated }}
{{ $currentLang := .Language}}
<ul class="mw4 pl0 mr0 br3 br--bottom bb bl br bw1 flex ml4 mt0">
    {{ range $key, $value := .AllTranslations }}
    <li class="list f5 f4-ns fw4 dib pr0 mr0 w-50 tc
    
    {{if eq $value.Lang $currentLang.Lang }} 
        bg-black-90
    {{else}}
    {{end}}
    ">
        <a class="no-underline ml1 db w-100 ttu tracked
        {{if eq $value.Lang $currentLang.Lang }} 
            white
        {{else}}
            black
        {{end}}
        
        " href="{{ .RelPermalink }}">{{ $value.Lang }}</a>
    </li>
    {{end}}
</ul>
{{ end }}