<div class="z-header-bar shadow-1"></div>
<header class="ph3 mr3 flex mw8 center
 {{ if .Translations }}
    justify-around
    justify-between-ns
    justify-between-l
    justify-between-m
 {{ else }}
    justify-around
 {{end}}

 overflow-x-display sans-serif">
    {{ if .Site.Menus.main }}
    <nav role="navigation">
      <ul class="pl0 br3 br--bottom shadow-1 bw1 mt0 bg-white dib overflow-hidden">{{ range $key, $value := .Site.Menus.main }}<li
        class="{{if $key }}bl b--light-gray{{end}} list f4 f3-ns fw3 dib mr0 tc tracked nowrap z-menu-item">
            <a class=" no-underline black hover-near-white dib pl2 pr2 pv1 animate hidden-link" href="{{ $value.URL }}" title="{{ $value.Name }} page">
              {{ $value.Name }}
            </a>
          </li>{{end}}</ul>
    </nav>
    {{ end }}

    {{ if .IsTranslated }}
      {{ $currentLang := .Language}}
    <nav class="dn dib-ns dib-m dib-l" role="language selector">
    <ul class="pl0 br3 br--bottom shadow-1 bw1 mt0 bg-white dib overflow-hidden sans-serif">{{ range $key, $value := .AllTranslations }}<li
         class="{{if $key }}bl b--light-gray{{end}} list f5 f4-ns fw4 dib mr0 tc tracked nowrap z-menu-item
          {{if eq $value.Lang $currentLang.Lang }} 
              bg-black-90
              white
          {{else}}
                  black
          {{end}}
          {{if eq $value.Lang $currentLang.Lang }}
             z-menu-item-selected
          {{else}}
          {{end}}
          "><a class="ttu no-underline black hover-near-white dib pl2 pr2 pv1 hidden-link" href="{{ .RelPermalink }}">{{ $value.Lang }}</a>
    </li>{{end}}</ul>
    </nav>
    {{ end }}
</header>