<section class="list-sub-title">
    <table>
        {{ if not .Date.IsZero }}
            <tr>
                <td class="type">{{ i18n "publishing_date" . }}</td>
                <td class="date">
                    <time {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
                        {{- .Date | time.Format ":date_long" -}}
                    </time>
                </td>
            </tr>
        {{ end }}
        <tr>
            <td class="type">{{ i18n "reading_time" . }}</td>
            <td>{{ .ReadingTime }} {{ i18n "minutes" .ReadingTime }}</td>
        </tr>
{{/*        <tr>*/}}
{{/*            <td class="type">{{ i18n "words" . }}</td>*/}}
{{/*            <td>{{ .WordCount }}</td>*/}}
{{/*        </tr>*/}}
        <tr>
            <td class="type">{{ i18n "licence" . }}</td>
            <td>
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.{{ if eq .Lang "fr" }}fr{{ else }}en{{ end }}" target="_blank">
                    <img style="max-height: 1em" src="/CCANSA80x15.png" alt="CC BY-NC-SA 4.0" title="CC BY-NC-SA 4.0" />
                </a>
            </td>
        </tr>
        {{ if .Params.tags }}
            <tr>
                <td class="type">{{ i18n "tags" . }}</td>
                <td>
                    {{ range $index, $val := .Params.tags }}
                        {{ with $.Site.GetPage (printf "/tags/%s" $val) -}}
                            {{ if gt $index 0 }}<span class=""> - </span>{{ end }}
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ end }}
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    </table>
</section>