<section class="article-additional-information">
    <table>
        <tr>
            <td class="type">{{ i18n "title" . }}</td>
            <td class="main-title" colspan="2"><a href="{{ .RelPermalink }}" class="link">{{ .Title }}</a></td>
        </tr>
        <tr>
            <td class="type">{{ i18n "description" . }}</td>
            <td colspan="2">{{ .Description | default .Summary }}</td>
        </tr>
        {{ if not .Date.IsZero }}
            <tr>
                <td class="type">{{ i18n "publishing_date" . }}</td>
                <td class="date" colspan="2">
                    <time {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
                        {{- .Date.Format "2 January 2006" -}}
                        {{- if or (ne (.Date.Format "15") "00") (ne (.Date.Format "04") "00") }} {{ .Date.Format "15:04" }}{{ end -}}
                    </time>
                </td>
            </tr>
        {{ end }}
        {{ if (and (and .Lastmod .Date) (ne .Lastmod .Date)) }}
            <tr>
                <td class="type">{{ i18n "last_update_date" . }}</td>
                <td class="date" colspan="2">
                    <time {{ printf `datetime="%s"` (.Lastmod.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
                        {{- .Lastmod.Format "2 January 2006" -}}
                        {{- if or (ne (.Lastmod.Format "15") "00") (ne (.Lastmod.Format "04") "00") }} {{ .Lastmod.Format "15:04" }}{{ end -}}
                    </time>
                </td>
            </tr>
        {{ end }}

        <tr>
            <td class="type">{{ i18n "type" . }}</td>
            <td class="icon" colspan="2">
                {{ $type := .Type }}
                {{ with $.Site.GetPage (printf "/%s" $type) -}}
                    {{ $typeLink := "" }}
                    {{ with .Site.GetPage "Section" $type }}{{ $typeLink = .Permalink }}{{ end }}
                    {{ if (resources.Get (printf "icons/types/%s.svg" $type)) }}
                        <div style="display: flex; align-items: center; gap: 0.5em;">
                            <a href="{{ $typeLink }}" class="hidden-link">
                                <img class="icon-type"
                                     alt="{{ .Title }}"
                                     title="{{ .Title }}"
                                     style="max-height: 1em; vertical-align: middle; display: inline-block;"
                                     src="{{ ((resources.Get (printf "icons/types/%s.svg" $type)).Permalink) }}"/>
                            </a>
                            <a href="{{ $typeLink }}">{{ .Title }}</a>
                        </div>
                    {{ else }}
                        <a href="{{ $typeLink }}">{{ .Title }}</a>
                    {{ end }}
                {{ end }}
            </td>
        </tr>
        <tr>
            <td class="type">{{ i18n "reading_time" . }}</td>
            <td colspan="2">{{ .ReadingTime }} {{ i18n "minutes" .ReadingTime }}</td>
        </tr>
        <tr>
            <td class="type">{{ i18n "words" . }}</td>
            <td colspan="2">{{ .WordCount }}</td>
        </tr>

        {{ if .IsTranslated }}
            {{ $nbTranslation := len .Translations }}
            <tr>
                <td class="type" rowspan="{{ add $nbTranslation 1 }}">{{ i18n "availableTranslation" . }}</td>
                <td class="type">
                    {{ .Language.LanguageName }}
                </td>
                <td>
                    <a href="{{ .RelPermalink }}">{{ .Permalink }}</a>
                </td>
            </tr>
            {{ range $index, $translation := .Translations }}
                <tr>
                    <td>
                        {{ .Language.LanguageName }}
                    </td>
                    <td>
                        <a href="{{ .RelPermalink }}">{{ .Permalink }}</a>
                    </td>
                </tr>
            {{ end }}
        {{ end }}

        {{ if .Params.tags }}
            <tr>
                <td class="type">{{ i18n "tags" . }}</td>
                <td colspan="2">
                    {{ range $index, $val := .Params.tags }}
                        {{ with $.Site.GetPage (printf "/tags/%s" $val) -}}
                            {{ if gt $index 0 }}<span> - </span>{{ end }}
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ end }}
                    {{ end }}
                </td>
            </tr>
        {{ end }}
        <tr>
            <td class="type">{{ i18n "licence" . }}</td>
            <td colspan="2">
                {{ i18n "copyright" | safeHTML }} <img style="max-height: 1em" class="dib" src="/CCANSA80x15.png"/>
            </td>
        </tr>

        {{ $ogImages := partial "_funcs/get-page-images.html" . }}
        {{ with $ogImages }}
            {{ $ogImage := index . 0 }}
            {{ with $ogImage }}
                {{ $ogTitle := $.Title }}
                {{ $ogSubtitle := "" }}
                {{ $ogDescription := $.Description | default $.Summary }}
                {{ with $.Params.og }}
                    {{ if .title }}
                        {{ $ogTitle = .title }}
                    {{ end }}
                    {{ if .subtitle }}
                        {{ $ogSubtitle = .subtitle }}
                    {{ end }}
                    {{ if .description }}
                        {{ $ogDescription = .description }}
                    {{ end }}
                {{ end }}

                {{/* Count number of OG properties to display */}}
                {{ $ogPropertiesCount := 3 }}{{/* Base: Image, Title, Type */}}
                {{ if $ogSubtitle }}
                    {{ $ogPropertiesCount = add $ogPropertiesCount 1 }}
                {{ end }}
                {{ if $ogDescription }}
                    {{ $ogPropertiesCount = add $ogPropertiesCount 1 }}
                {{ end }}

                {{/* Image row */}}
                <tr>
                    <td class="type" rowspan="{{ $ogPropertiesCount }}">{{ i18n "openGraph" $ }}</td>
                    <td class="type">{{ i18n "image" $ }}</td>
                    <td>
                        <a href="{{ .Permalink }}" target="_blank">
                            {{ if .Image }}
                                {{ $thumbnail1x := .Image.Resize "x120" }}
                                {{ $thumbnail2x := .Image.Resize "x240" }}
                                <picture>
                                    <source srcset="{{ $thumbnail1x.RelPermalink }} 1x, {{ $thumbnail2x.RelPermalink }} 2x">
                                    <img src="{{ $thumbnail1x.RelPermalink }}"
                                         alt="OpenGraph preview"
                                         class="og-image-preview"/>
                                </picture>
                            {{ else }}
                                <img src="{{ .RelPermalink }}"
                                     alt="OpenGraph preview"
                                     class="og-image-preview"/>
                            {{ end }}
                        </a>
                    </td>
                </tr>

                {{/* Title row */}}
                <tr>
                    <td class="type">{{ i18n "title" $ }}</td>
                    <td>{{ $ogTitle }}</td>
                </tr>

                {{/* Subtitle row */}}
                {{ if $ogSubtitle }}
                    <tr>
                        <td class="type">{{ i18n "subtitle" $ }}</td>
                        <td>{{ $ogSubtitle }}</td>
                    </tr>
                {{ end }}

                {{/* Description row */}}
                {{ if $ogDescription }}
                    <tr>
                        <td class="type">{{ i18n "description" $ }}</td>
                        <td>{{ $ogDescription }}</td>
                    </tr>
                {{ end }}

                {{/* Type row */}}
                <tr>
                    <td class="type">{{ i18n "type" $ }}</td>
                    <td>
                        {{ $ogType := "article" }}
                        {{ $twitterCard := "summary_large_image" }}
                        {{ with $.Params.og }}
                            {{ if .type }}
                                {{ $ogType = .type }}
                            {{ end }}
                            {{ if .twitter_card }}
                                {{ $twitterCard = .twitter_card }}
                            {{ end }}
                        {{ end }}
                        og:type = <strong>{{ $ogType }}</strong><br/>
                        twitter:card = <strong>{{ $twitterCard }}</strong>
                    </td>
                </tr>
            {{ end }}
        {{ end }}

        {{ if .Params.promotions }}
            {{ $promotionsCount := len .Params.promotions }}
            {{ $.Scratch.Set "firstPromotion" true }}
            {{ range $network, $promo := .Params.promotions }}
                <tr >
                    {{ if $.Scratch.Get "firstPromotion" }}
                        <td class="type" rowspan="{{ $promotionsCount }}">{{ i18n "promotion" $ }}</td>
                        {{ $.Scratch.Set "firstPromotion" false }}
                    {{ end }}
                    <td class="type">
                        {{ if eq $network "twitter" }}
                            <img style="height: 1em" src="{{ $.Site.BaseURL }}twitter.svg" alt="Twitter logo"/> Twitter
                        {{ else if eq $network "mastodon" }}
                            <img style="height: 1em" src="{{ $.Site.BaseURL }}mastodon.svg"
                                 alt="Mastodon logo"/> Mastodon
                        {{ else if eq $network "bluesky" }}
                            <img style="height: 1em" src="{{ $.Site.BaseURL }}Bluesky_Logo.svg"
                                 alt="Bluesky logo"/> Bluesky
                        {{ else }}
                            <img style="height: 1em" src="{{ $.Site.BaseURL }}social.svg" alt="Share icon"/>
                            {{ $network }}
                        {{ end }}
                    </td>
                    <td class="grayscale" colspan="2">
                        <a href="{{ $promo }}">
                            {{ $promo }}
                        </a>
                    </td>
                </tr>
            {{ end }}
        {{ end }}

    </table>
</section>