{{ $image := .Page.Resources.GetMatch (.Get "src") }}
{{ $mediaPermalink := ($.Page.Resources.GetMatch (.Get "src")).RelPermalink}}
{{ $alt := (.Get "alt")}}
{{ $name := (.Get "name")}}
{{ if eq $alt ""}}
    {{$alt = $name}}
{{ end }}

{{ if ne (.Get "resize") "no"}}
    {{ if gt $image.Width 700 }}
        {{ $image = $image.Resize "720x" }}
    {{ end }}
{{ end }}

{{ $image_wide := .Page.Resources.GetMatch (.Get "src") }}
{{ if ne (.Get "resize") "no"}}
    {{ if gt $image_wide.Width 1024 }}
        {{ $image_wide = $image_wide.Resize "1024x" }}
    {{ end }}
{{ end }}

<figure class="illustration {{if (.Get "dark-protection") }}dark-protection{{ end }}" >
    <a
            class="hidden-link"
            href="{{ $image_wide.RelPermalink  | safeURL }}"
            target="_blank"
    >
        <img
                src="{{ $image.RelPermalink | safeURL }}"
                {{ with $alt }} alt="{{ . }}" {{ end }}
                {{ with $name }} title="{{ . }}" {{ end }}
        />
    </a>
    {{ with $alt}} <figcaption>{{ . | markdownify }}</figcaption> {{ end }}
</figure>