{{ define "main" }}
  {{ if .Content}}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img sans-serif">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
  </article>
  {{ end }}
  <div class="pl4 pr4 mw8 center sans-serif ">
    {{ range .Paginator.Pages }}
      {{ if eq .Type "post"}}
          <h1 class="f2 l mb0 ml0 "><a href="{{ .Permalink }}" class="link">{{ .Title }}</a></h1>
          <time class="f7 ml1 dib tracked" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
            {{- .Date.Format "January 2, 2006" -}}
          </time>
          - <span class="f7 dib tracked" >{{ .ReadingTime}} minutes read</span>
          {{if .Params.tags }}- <span class="tracked dib f7">

                {{ range $index, $val := .Params.tags }}
                    {{ with $.Site.GetPage (printf "/tags/%s" $val) -}}
                        {{if gt $index 0 }}<span class=""> - </span>{{end}}
                        <a href="{{ .Permalink }}" >{{ .Title }}</a>
                    {{end}}
               {{ end }}
            </span>
          {{end}}
          <p class="ml1 near-black mb4">
            {{ if .Description}}
              {{.Description}}
            {{else}}
              {{ .Summary  }} […]
            {{end}}
          </p>
      {{end}}
    {{ end }}   
  </div>
  {{- template "_internal/pagination.html" . -}}
{{ end }}

