<div class="mt5 ph3 tc">
    <div class="pl0 f4 list sans-serif avenir lh-copy ">
        {{i18n "commentAndDiscuss" .}}<br/>

        {{ if .Params.promotions }}
        <div class="f12 tc mt3">
            {{ range $network, $promo := .Params.promotions }}
            <a href="{{ $promo }}" class="h100 dib v-top ml2" target="_blank">
                {{ if eq $network "twitter" }}
                <img style="height: 1em" src="{{$.Site.BaseURL}}twitter.svg" alt="Twitter logo" /> Twitter
                {{else if eq $network "mastodon" }}
                <img style="height: 1em" src="{{$.Site.BaseURL}}mastodon.svg" alt="Mastodon logo" /> Mastodon
                {{else }}
                <img style="height: 1em" src="{{$.Site.BaseURL}}social.svg" alt="Share icon" />
                {{ $network }}
                {{end}}
            </a>
            {{end}}
        </div>
        {{else}}
        <div class="f12 tc mt3">
            <a href="https://mamot.fr/@ztec"><img style="height: 1em" src="{{$.Site.BaseURL}}mastodon.svg" alt="Twitter logo" /> @ztec@mamot.fr</a>
            <a href="https://bsky.app/profile/ztec.fr"  class="ml2"><img style="height: 1em" src="{{$.Site.BaseURL}}Bluesky_Logo.svg" alt="Bluesky logo" /> @ztec.fr</a>
            <a href="https://twitter.com/ztec6"  class="ml2"><img style="height: 1em" src="{{$.Site.BaseURL}}twitter.svg" alt="Twitter logo" /> @ztec6</a>
        </div>
        {{end}}
    </div>
</div>