html {
    min-height: 100%;
}

h1, h2, h3, h4 ,h5 {
    font-weight: 100;
}

.l{
    font-weight: 100;
}

/* LINKS */
a {
    text-decoration-line: none;
    /*color: var(--z-theme-accent);*/
    font-weight: 500;
    background: linear-gradient(to right,transparent,transparent),linear-gradient(90deg, rgba(92,78,183,1) 0%, rgba(67,172,199,1) 20%, rgba(128,209,82,1) 40%, rgba(245,242,97,1) 60%, rgba(255,157,77,1) 80%, rgba(255,84,71,1) 100%);
    background-size: 100% 2px,0 2px;
    background-position: 100% 100%,0 100%;
    background-repeat: no-repeat;
}

a:hover {
    text-decoration-line: none;
    position: relative;
    background-size: 0 2px,100% 2px;
    transition: 0.1s all ease-in-out;
}
a.hidden-link {
    color: inherit;
    text-decoration-line: none;
    background: transparent;
    background-size: 100% 1px,0 1px;
    background-position: 100% 100%,0 100%;
    background-repeat: no-repeat;
}
article a, a.link {
    /*white-space:nowrap;*/
    /*text-overflow:ellipsis;*/
    /*overflow-x: hidden;*/
    /*overflow-y: visible;*/
    /*display: inline-block;*/
    /*max-width: 100%;*/
    /*margin-bottom: -0.5rem;*/
}

article a:after, a.link:after {
    bottom: 2px;
    height: 2px;
    border-radius: 2px;
}


a.hidden-link {
    text-overflow:unset;
    white-space:normal;
    overflow-x: visible;
    display: inline;
}

a:hover {
    text-decoration-line: none;
    position: relative;
}
 a:hover:after {
    transition: 0.1s all ease-in-out;
    opacity: 1.00;
    width: 100%;
}

a.hidden-link {
    color: inherit;
    text-decoration-line: none;
}
a.hidden-link:hover:after {
    display: none;
}


/*Photo & gallery*/
article .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
    align-items: baseline;
}
article figure.photo {
    display:block;
    text-align: center;
    margin: 10px;
    width: 300px;
}

article figure.photo img{
    border-radius: 10px;
}

article figure.photo figcaption{
    display:block;
    margin:auto;
    text-align: center;
    font-size: 0.8em;
}
/*Photo & gallery*/


/*Illustration*/

article figure.illustration{
    text-align: center;
    margin-bottom: 0;
}

article figure.illustration img{
    border-radius: 5px;
}

article figure.illustration figcaption{
    display:block;
    margin:auto;
    text-align: center;
    font-size: 0.8em;
    opacity: 0;
    transition: 0.1s all ease-in-out;
}
article figure.illustration:hover figcaption{
    opacity: 1;
}

/* HEADER */
.z-header-bar {
    height:20px;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 0;
}
header {
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.z-menu-item {
    padding-top: 0.2em;
    transition: 0.1s all ease-in-out;
}

 code, pre {
    border-radius: 5px;
}


    /** Dark theme colors **/


.small-media-player{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.small-media-player audio{
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}
.small-media-player p{
    width: 90%;
    margin-left: 5%;
    margin-top: 2px;
    text-align: center;
}



/** Base colors */
.z-purple {
    color: hsl(248, 42%, 51%);
    color: #5c4eb7;
}

.z-purple-aaa-accessible {
    color: hsl(248, 42%, 44%);
    color: #4e419f;
}

.z-blue {
    color: hsl(192, 54%, 52%);
    color: #43acc7;
}

.z-green {
    color: hsl(98, 58%, 57%);
    color: #80d152;
}

.z-yellow {
    color: hsl(59, 88%, 67%);
    color: #f5f261;
}

.z-orange {
    color: hsl(27, 100%, 65%);
    color: #ff9d4d;
}

.z-red {
    color: hsl(4, 100%, 64%);
    color: #ff5447;
}


.z-b-purple {
    background-color: hsl(248, 42%, 51%);
    background-color: #5c4eb7;
}

.z-b-purple-aaa-accessible {
    background-color: hsl(248, 42%, 44%);
    background-color: #4e419f;
}

.z-b-blue {
    background-color: hsl(192, 54%, 52%);
    background-color: #43acc7;
}

.z-b-green {
    background-color: hsl(98, 58%, 57%);
    background-color: #80d152;
}

.z-b-yellow {
    color: hsl(59, 88%, 67%);
    background-color: #f5f261;
}

.z-b-orange {
    background-color: hsl(27, 100%, 65%);
    background-color: #ff9d4d;
}

.z-b-red {
    background-color: hsl(4, 100%, 64%);
    background-color: #ff5447;
}

.modeChanger {
    display:none;
    position:fixed;
    bottom:0px;
    right:30px;
    margin-top: 20px;
}


blockquote {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    border-radius: 5px;
    padding-top:1px;
}
/*blockquote p:first-child {*/
/*    margin-top: 0;*/
/*}*/
/*blockquote p:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

blockquote:before,blockquote:after  {
    display: block;
    top: 0;
    font-size: 3rem;
    margin-right: 1rem;
}
blockquote:before {
    content: '«';
    left: 0;
    float:left;
}
blockquote:after {
    content: '»';
    display: block;
    width:100%;
    text-align: right;
    margin-top: -4rem;
}



/* ================================= */
/* ========= ITEM VIS ============== */
/* ================================= */

.itemVis{
    display: flex;
    flex-wrap: wrap;
    line-height: 1rem;
    font-size: 1rem;
}

.itemVisItem{
    margin-left:1px;
    margin-right:1px;
}