{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="mw8 center sans-serif" >
    <header class="">
      <h1 class="f2 f2-m f1-ns mt3 mb1 tc fw1">
        <a href="{{ .Permalink }}" class="hidden-link">{{- .Title -}}</a>
      </h1>
      <div class="tc">
        {{if .Date}}
        <time class="f7 ml1 dib tracked" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
          {{- .Date.Format "January 2, 2006" -}}
        </time>
        {{ if .Content}}<span class="f7 dib tracked"> - </span>{{end}}
        {{end}}
        {{ if .Content}}
        <span class="f7 dib tracked" >{{ .ReadingTime}} {{i18n "readingTime" .}}</span>
        <span class="f7 dib tracked"> - </span>
        <span class="f7 dib tracked">{{ .WordCount}} {{i18n "words" .}}</span>{{end}}
      </div>
      {{ if .Params.tags }}
      <div class="tc tracked  mt1 ">
        <svg title="Tag icon" class="dib h1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <title>Tags</title>
          <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
          <line x1="7" y1="7" x2="7.01" y2="7"></line>
        </svg> 
        {{ range $index, $val := .Params.tags }}
          {{ with $.Site.GetPage (path.Join "tags" $val) -}}
                  {{if gt $index 0 }}<span class="f7 h100 dib v-top"> - </span>{{end}}
                  <a href="{{ .Permalink }}" class="f7 h100 dib v-top">{{ .Title }}</a>
          {{end}}
        {{ end }}
      </div>
      {{end}}
    </header>

    <div  class=" mt4 ph3
                  nested-copy-line-height
                  sans-serif avenir lh-copy 
                  f4
                  tl
                  cf
                  "
    >
      {{if .Params.RefLink}}
      <div class="tc mb4"><a href="{{.Params.RefLink}}" target="_blank">{{.Params.RefLink}}</a></div>
      {{end}}
    {{- .Content -}}

  </div>
        {{ if .Content}}
        <div class="mt5 bt b--light-silver w-50 center">
        </div>

    {{ partial "social-content-footer.html" . }}



    <div class="mt5 bt b--light-silver w-50 center">
    </div>
        <div class="mt5 ph3">
          <ul class="pl0 list f7 sans-serif avenir lh-copy  tracked">

            {{if .Date}}
            <li >
              {{i18n "publishAt" .}}
              <b><time {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
                {{- .Date.Format "2 January 2006" -}}
              </time></b>
            </li>
            {{end}}
            {{if (and (and .Lastmod .Date) (ne .Lastmod .Date) ) }}
            <li >
              {{i18n "updatedAt" .}}
              <b><time {{ printf `datetime="%s"` (.Lastmod.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
                {{- .Lastmod.Format "2 January 2006" -}}
              </time></b>
            </li>
            {{end}}
            {{ if .IsTranslated }}
            <li>{{i18n "availableTranslation" .}} :  {{ range .Translations }}<a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>{{ end}}
            {{end}}

            {{ if .Params.tags }}
            <li class="">
              {{i18n "publishIn" .}} :
              {{ range $index, $val := .Params.tags }}
                {{ with $.Site.GetPage (printf "/tags/%s" $val) -}}
                        {{if gt $index 0 }}<span class="f7 h100 dib v-top"> - </span>{{end}}
                        <a href="{{ .Permalink }}" class="f7 h100 v-top">{{ .Title }}</a>
                {{end}}
              {{ end }}
            </li>
            {{end}}

            {{ if .Params.promotions }}
            <li class="">
              {{i18n "promotion" .}} :
              {{ range $network, $promo := .Params.promotions }}
              <a href="{{ $promo }}" class="h100 dib v-top" target="_blank">
                {{ if eq $network "twitter" }}
                <img style="height: 1em" src="/twitter.svg" alt="Twitter logo" /> Twitter
                {{else if eq $network "mastodon" }}
                <img style="height: 1em" src="/mastodon.svg" alt="Mastodon logo" /> Mastodon
                {{else }}
                <img style="height: 1em" src="/social.svg" alt="Share icon" />
                {{ $network }}
                {{end}}
              </a>
              {{end}}
            </li>
            {{end}}

            <li >
               {{i18n "copyright" | safeHTML }} <img width="80" height="15" class="dib" src="/CCANSA80x15.png" />
            </li>
            <li>
              {{i18n "foundATypo" .}} <a target="_blank" href="https://github.com/ztec/blog/edit/main/content/{{.File.Path}}">{{i18n "suggestAFix" .}}</a>.
            </li>
            <li>
              {{i18n "subescribeRss"  | safeHTML }}
            </li>
          </ul>
        </div>
    {{end}}
  </article>
{{ end }}
